{% extends 'base.html.twig' %}


{% block title %}
    Panneau d'administration de La Bernardière
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/admin.css">

{% endblock %}

{% block header %}
    <section id="hero">
        <h1>Panneau d'administration de La Bernardière</h1>
    </section>{% endblock %}


{% block content %}

{% endblock %}
