    <address class="adressbar">
        <div class="container-fluid">
            <div class="row justify-content-between no-gutters">
                <ul class="col-3 text-center">
                    <li><i class="fas fa-map-marked-alt"></i></li>
                    <li><h3>La Bernardière</h3></li>
                    <li>666 Route d'Orléans</li>
                    <li>45590 Saint-Cyr-En-Val</li>
                </ul>
                <ul class="col-3 text-center">
                    <li><i class="far fa-calendar-alt"></i></li>
                    <li><h3>Horaires d'ouverture</h3></li>
                    <li>Du Mardi au Samedi : 9h00-18h30 en continu</li>
                    <li>Dimanche : 9h00-12h00 / 15h00-18h30</li>
                </ul>
                <ul class="col-3 text-center">
                    <li><i class="fas fa-phone"></i></li>
                    <li><h3>Téléphone</h3></li>
                    <li>02.38.76.24.20</li>
                </ul>
            </div>
        </div>
    </address>
