    <div class="adressbar">
        <div class="container-fluid">
            <div class="row justify-content-between no-gutters">
                <div class="col-md-3 text-center">
                    <div><i class="fas fa-map-marked-alt fa-2x"></i></div>
                    <address>
                        <strong>La Bernardière</strong>
                        666 Route d'Orléans<br/>
                        45590 Saint-Cyr-En-Val
                    </address>
                </div>
                <div class="col-md-3 text-center mb-2 ">
                    <div><i class="far fa-clock fa-2x"></i></div>
                    <div><strong>Horaires d'ouverture</strong></div>
                    <div>Du Mardi au Samedi : 9h00-18h30</div>
                    <div>Dimanche : 9h00-12h00 / 15h00-18h30</div>
                </div>
                <div class="col-md-3 text-center mb-2 ">
                    <div><i class="fas fa-phone fa-2x"></i></div>
                    <div><strong>Téléphone</strong></div>
                    <div>02 38 76 24 20</div>
                </div>
            </div>
        </div>
    </div>
