    <div class="adressbar">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-start no-gutters">
                <div class="col-3 text-center">
                    <div><i class="fas fa-map-marked-alt"></i></div>
                    <address>
                        <h3>La Bernardière</h3>
                        666 Route d'Orléans<br/>
                        45590 Saint-Cyr-En-Val
                    </address>
                </div>
                <div class="col-3 text-center horaires">
                    <div><i class="far fa-clock"></i></div>
                    <div><h3>Horaires d'ouverture</h3></div>
                    <div>Du Mardi au Samedi : 9h00-18h30 en continu</div>
                    <div>Dimanche : 9h00-12h00 / 15h00-18h30</div>
                </div>
                <div class="col-3 text-center">
                    <div><i class="fas fa-phone"></i></div>
                    <div><h3>Téléphone</h3></div>
                    <div>02.38.76.24.20</div>
                </div>
            </div>
        </div>
    </div>
