<section id="hero">
    <div class="hero-container">
        <div class="logo wow bounceIn animated" data-wow-delay="0.4s">
            <h1>La Bernardière</h1>
        </div>
        <div class="logo wow bounceIn animated" data-wow-delay="0.8s">
            <p>La cueillette à portée de main</p>
        </div>
    </div>
</section>
