    <section class="content">

        <div class="container">
            <div class="mt-5">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <h2 class="title">La Cueillette</h2>
                        <p class="subTitleConcept"><strong>La Cueillette à la ferme</strong> est un moyen original d'acheter en direct des fruits et légumes frais de saison.
                            Muni de votre panier, venez profiter de tous les plaisirs de votre jardin !!
                        Il est tout d’abord préférable de passer par l’accueil afin de se renseigner sur les produits à récolter ce jour, d’en connaître les prix et d’en profiter pour jeter un coup d'oeil au règlement...</p>
                        <button type="button" class="btn button" data-toggle="collapse" data-target="#demo">Voir plus...</button>
                        <div id="demo" class="collapse">
                            <p class="shadowText">
                                ... (ex : "la cueillette des mini légumes est interdite").
                                Après avoir pesé vos récipients, nous vous indiquerons quelle direction prendre et nous vous prêterons les outils essentiels à une bonne cueillette : brouettes, cagettes, couteaux (salades, persil, mesclun…), bêches (carottes, pommes de terre…), sécateurs (fleurs, aubergines…).
                                Parés à récolter vous pourrez donc vous diriger seul, entre amis ou en famille vers les pancartes jaunes qui signalent que le champ est ouvert à la cueillette (pas de pancarte: cueillette interdite).
                                Une petite promenade sur l’exploitation pourrait aussi vous permettre, tout en respectant les règles et les plantations, de surveiller l’évolution de vos futures récoltes.
                                N’oublions pas que vous pourrez faire plaisir ou vous faire plaisir en composant vous-même vos bouquets dès fin juin.
                                Fin des courses en plein air ! Il est alors temps d’aller faire peser vos fruits et légumes. Vous serez agréablement surpris par la modicité de votre ticket compte tenu de la taille de votre panier.
                                PS: Pensez à apporter vos sacs, les nôtres sont payants !
                                CB acceptée à partir de 10€.
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6 wow fadeInRight">
                        <img src="assets/images/concept_harvest_strawberries.jpg" class="img-fluid strawberries conceptImg" alt="child with strawberries">
                    </div>
                </div>
            </div>
        </div>
    </section>
