<section id="about">
    <div class="services-sections">
        <div class="container">
            <div class="section-header">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-6 wow fadeInLeft">
                        <img src="assets/images/concept_farm_house.jpg" class="img-fluid farmImg" alt="child with strawberries">
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-6">
                        <h2 class="title">La Ferme</h2>
                        <p class="subTitleConcept"><strong>Ouverte en 1983</strong> sur le site de l'exploitation familiale plus que centenaire,
                            la libre cueillette de la Bernardière se présente comme un vaste jardin potager de 240 000m2, ouvert à la clientèle.
                            Si à l'origine on ne pouvait récolter que fraises, haricots, tomates et maïs doux sur des surfaces relativement limitées, face à l'engouement constant des cueilleurs l'offre s'est diversifiée...</p>
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Voir plus...</button>
                        <div id="demo1" class="collapse">
                            <p class="shadowTextFarm">  ... pour atteindre aujourd'hui plus de 20 fruits et légumes proposés à la cueillette ou vendus dans notre magasin à la ferme.
                                Pour le consommateur d'Orléans et sa région, c'est une véritable révolution! Il peut disposer, à un prix très abordable, de fruits ou légumes de fraîcheur absolue, qu'il peut choisir lui même puisque c'est lui qui récolte! Il peut ainsi profiter de son propre jardin, sans les contraintes évidemment (pas besoin d'arroser, de désherber...).
                                Venez donc remplir vos paniers de belles couleurs de fin mai à fin octobre, Ghislaine, Bruno et Amélie Michaud se feront un plaisir de vous accueillir dans l'une des plus grandes et plus anciennes libre-cueillette de la région centre.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>