    <section class="content">
        <div class="container">
            <div class="mb-5">
               <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <h2 class="title">La Boutique</h2>
                    <p class="shadowText textBoutique"><strong>Le magasin de producteur</strong> est un concept différent de celui de la cueillette. Il permet également d'acheter des fruits et légumes frais en direct, mais on ne ramasse pas soi-même les produits. Il s'agit donc de vente directe, si vous le souhaitez nous pouvons préparer à l'avance vos commandes.
                    </p>
                    <a href="/contact#contact" role="button" type="button" class="btn btn-danger button buttonCommander" >Commander</a>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 wow fadeInRight">
                    <img src="assets/images/concept_shop_vegetables.jpg" class="img-fluid shopImg" alt="child with strawberries">
                </div>
            </div>
        </div>
    </div>
</section>
