    <section id="contact">
    <div class="services-sections">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Restons en Contact</h3>
                        <ul>
                            <li><strong>Pour des informations supplémentaires</strong> sur la Cueillette</li>
                            <li><strong>Pour réservez vos pommes de terre</strong> à stocker en hiver (à partir du 1er août)</li>
                            <li><strong>Pour commander vos paniers</strong> personnalisés à retirer au magasin (48h à l’avance)</li>
                            <li>Pour nous faire <strong>partager vos idées recette</strong></li>
                            <p class="usingForm">Veuillez remplir ce Formulaire de contact, Merci.</p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>