<div class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="social-icons wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
                <a href="https://www.facebook.com/Fermedelabernardiere/"><i class="icon1"></i></a>
            </div>
        </div>
        <div class="footer-middle wow fadeInDown Big animated animated" data-wow-delay="0.4s">
            <div class="bottom-menu">
                <ul>
                    <li><a href="index.html" class="active">Accueil</a></li>
                    <li><a href="calendar.html">Calendrier des récoltes</a></li>
                    <li><a href="products.html">Nos produits</a></li>
                    <li><a href="farm.html">La ferme</a></li>
                    <li><a href="contact.html">Nous contacter</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <p> Copyright &copy;2018  All rights  Reserved | Design by<a href="https://wildcodeschool.fr/orleans/" target="target_blank">WCS Orléans</a></p>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                var defaults = {
                      containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                 };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    </div>
</div>