<div class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="social-icons wow bounceInLeft animated" data-wow-delay="0.4s">
                <a href="https://www.facebook.com/Fermedelabernardiere/"><i class="icon1"></i></a>
            </div>
        </div>
        <nav class="footer-middle wow fadeInDown Big animated animated" data-wow-delay="0.4s">
            <div class="bottom-menu">
                <ul>
                    <li><a href="/" class="active">Accueil</a></li>
                    <li><a href="/calendar">Calendrier des récoltes</a></li>
                    <li><a href="/ourproducts">Nos produits</a></li>
                    <li><a href="/concept">La ferme</a></li>
                    <li><a href="/contact">Nous contacter</a></li>
                </ul>
            </div>
        </nav>
        <div class="footer-bottom wow bounceInRight animated" data-wow-delay="0.4s">
            <p> Réalisé par <a href="https://wildcodeschool.fr/orleans/" target="target_blank">WCS Orléans</a></p>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $().UItoTop({ easingType: 'easeOutQuart' });
            });
        </script>
        <a href="#" id="toTop"> <span id="toTopHover"> </span></a>
    </div>
</div>
