<div class="container">
    <div id="logo" class="pull-left">
        <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a>
    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li class="menu-active"><a href="#hero">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
</div>
<section id="hero">
    <div class="hero-container">
        <div class="logo wow bounceIn animated" data-wow-delay="0.4s">
            <h1>La Bernardière</h1>
        </div>
        <div class="logo wow bounceIn animated" data-wow-delay="0.8s">
            <p>La cueillette à portée de main</p>
        </div>
    </div>
</section> 
