<section class="content">
    <div class="services-sections">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Où nous trouver?</h3>
            </div>
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3183.7461936237423!2d1.9675695206773829!3d47.83873766156516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4e3c5ada27a3f%3A0x7affce463b65c979!2sLa+Bernadi%C3%A8re!5e0!3m2!1sfr!2sfr!4v1538636450368" width="600" height="450"  style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>