<section id="about">
    <div class="services-sections">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Que faisons nous?</h3>
                <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
            </div>
            <div class="row about-container">
                <div class="col-lg-6 content order-lg-1 order-2">
                    <p>Cras consequat iaculis lorem, id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus pretium sit amet. Praesent lectus tortor, tincidu nt in consectetur vestibulum, ultrices nec neque. Praesent nec sagittis mauris. Fusce convallis nunc neque. Integer egestas aliquam interdum. Nulla ante diam, interdum nec tempus eu, feugiat vel erat.Cras consequat iaculis lorem, id vehicula erat mattis quis.Cras consequat iaculis lorem, id vehicula erat mattis. Integer egestas aliquam interdum. Nulla ante diam,</p>
                    <p>lorem,Cras consequat iaculis id vehicula erat mattis quis. Vivamus laoreet velit justo, in ven e natis purus pretium sit amet. Praesent lectus tortor, tincidu nt in consectetur vestibulum, ultrices nec neque. Praesent nec sagittis mauris. Fusce convallis nunc neque. Integer egestas aliquam interdum. Nulla ante diam, interdum nec tempus eu, feugiat vel erat.Cras consequat iaculis lorem, id vehicula erat mattis quis.Cras consequat iaculis lorem, id vehicula erat mattis.</p>
                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
            </div>

        </div>
    </div>
</section>
