<section id="about">
    <div class="services-sections">
        <div class="container">
            <div class="section-header">
                <h3 class="section-title">Que faisons nous?</h3>
                <p class="section-description">A la ferme de la Bernardière toutes les cultures sont en plein champ.</p>
            </div>
            <div class="row about-container">
                <div class="col-lg-6 content order-lg-1 order-2">
                    <p> Les saisons sont donc respectées: pas de fraises à noël !!!
                        Nous nous efforçons, depuis 1983, de pratiquer une agriculture raisonnée respectueuse de notre environnement et de votre santé. C'est pourquoi notre lutte contre les parasites est réduite au strict minimum. Seuls les ravageurs, qui risqueraient de compromettre définitivement la récolte, sont combattus. C'est notamment le cas du mildiou sur les tomates ou les pommes de terre, si le besoin est réel.
                        Les conditions climatiques ont aussi un rôle très important. Par exemple si il pleut un peu trop, les risques de maladies augmentent. Du soleil toute la journée, un peu de vent et quelques millimètres de pluie la nuit seraient l'idéal... C'est pour cela que nous attendons toujours le dernier moment avant de nous engager à faire fuire les parasites. Et oui la nature fait bien les choses!!!
                        De nombreux légumes cultivés à la Bernardière ne sont pas traités du tout... Certes il y a de l'herbe, mais cela n'empêche pas pour autant, les légumes de produire en abondance ! Alors venez vite profiter de votre jardin sans les inconvénients ! </p>
                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
            </div>

        </div>
    </div>
</section>
