{% extends 'admin_layout.html.twig' %}

{% block content %}

<div class="container">
    <h3 >Choisir une fonctionnalité</h3>

    <a class="btn btn-dark btn-block offset-3 col-6" href="/Admin/add" role="button">Ajouter un produit</a></div>

{% endblock %}