{% extends 'admin_layout.html.twig' %}

{% block content %}

<div class="container-fluid text-center mb-5">
    <h2 class="adressbar">Choisir une fonctionnalité</h2>
</div>
<div class="container">
    <a class="btn btn-dark btn-block offset-3 col-6 mt-5 mb-5" href="/admin/add" role="button">Ajouter un produit</a>
    <a class="btn btn-dark btn-block offset-3 col-6 mt-5 mb-5" href="/admin/list" role="button">Voir la liste des produits</a>
</div>


{% endblock %}