
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: Roboto ;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}

body{
    background-color : #ffffff;
}

.boutonedition{
    text-align : center;
}

.boutonedition .btn-group{
    padding-top: 10px;
}
.btn-group-vertical{
    margin : auto;
}

.btn-secondary{
    background-color : #9E9755;
}

img {
    width : 100px;
    height: 50px;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 50vh;
    background: url("../images/banner.jpg") top center;
    background-size: cover;
    position: relative;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 18em;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
@media (max-width: 1500px) {
    #hero .hero-container {
        margin: 10em;
    }
}
@media (max-width: 800px) {
    #hero .hero-container {
        margin: 5em;
    }
}
@media (max-width: 800px) {
    #hero .hero-container {
        margin: 0;
    }
}


#hero h1 {
    font-size: 5em;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    font-family: 'Lobster', cursive;
    vertical-align: center;
    position: absolute;
    display: block;
    left: 50%;
    bottom: 25%;
}

@media (max-width: 1200px) {
    #hero h1 {
        display: flex;
        justify-content: center;
        left: 0;
        bottom: 0;

    }
}


#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 3em;
    font-family: 'Lobster', cursive;
    padding-top: 2em;

}
@media (max-width: 800px) {
    #hero h1{
        font-size: 4em;
    }
    #hero p{
        font-size: 2em;
    }
}

#hero .btn-get-started {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: #2dc997;
    border: 2px solid #2dc997;
}
.adressbar{
    background-color : #f5f5f5;
    color : #000000;
    line-height: 1em;
    font-size : 3em;
    padding-top : 20px;
    padding-bottom: 20px;
}
.toto td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50%;
}
