td{
    border:1px dotted black;
    border-bottom-width: 0px;
}

tbody td {
    width:70px;
}
tr td:last-child {
    border-right-width: 0px;
}

th, td{
    text-align : center;
}

.table{
    margin-bottom: 80px;
    margin-top: 80px;
    box-shadow:2px 2px 10px -6px #3e8e41;
}

thead {
    font-size: 14pt;
    background-color: #3e8e41;
    color:white;
}

tr {
    margin:0.25em;
}

.now {
    background-color: #183f6c;
    color: white;
}

.filled {
    background:linear-gradient(
        to bottom,
        transparent 20%,
        #3e8e41 20%,
        #48a64c 50%,
        #3e8e41 80%,
        transparent 80%
    );
}

tr:hover > .filled {
    background:linear-gradient(
        to bottom,
        transparent 20%,
        #48A64C 20%,
        #50b955 50%,
        #48A64C 80%,
        transparent 80%
    );
}

table a {
    color:#3e8e41;
}