.harvest {
    padding: 4em 0;
}

.title {
    color: #a5ce45;
    font-family: "Lobster", cursive;
    font-size: 40px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

p {
    margin: 0;
}

.subTitleConcept {
    color: #000000;
    text-align: justify;
    font-size: 16px;
    font-weight: normal;
    padding-top: 15px;
}

.shadowText {
    font-size: 16px;
    color: #000000;
}

.shadowTextFarm {
    font-size: 16px;
    color: #000000;
}

.boutique {
    padding: 5px;
}

.ferme {
    padding: 5px;
}

.concept {
    padding: 5px;
}

.textBoutique {
    color: #000000;
    text-align: justify;
    font-size: 16px;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 0.5em 0.5em;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin: 1.5em auto;
    transition: 0.3s;
    display: block;
    width: 45%;
}

.button:hover {
    background-color: #a5ce45;
    color: white;
}

.shopImg {
    padding-top: 10px;
}

.farmImg {
    padding-top: 2em;
    padding-bottom: 20px;
}

.conceptImg {
    padding-top: 10px;
}

#about {
    background: #f5f5f5;
}

