h2, h3, h4{
    color: #000000;
    font-family: "Open Sans", sans-serif;
}

h2 {
    margin: 0 0 20px 0;
}

p {
    font-size: 16px;
    color: #999;
}

h4{
    color: #000000;
    font-family: "Poppins", sans-serif;
    position: relative;
    text-align: center;
    font-size: 25px;
    margin-bottom: 1em;
}

.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 0.5em 0.5em;
    text-align: center;
    font-size: 0.9em;
    margin: 1.5em auto;
    transition: 0.3s;
    display: block;
    width: 50%;
}

.btn:hover {
    background-color: #a5ce45;
    color: white;
}

.card:hover {
    box-shadow: 3px 3px 3px 0 rgba(171,171,171,0.75);
}

.card-img-top {
    height: 168px;
}

.imgModal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 40px;
    color: #a5ce45;
}

.category-title {
    font-size: 35px;
    font-weight: 500;
    color: #000000;
}