h2, h3, h4{
    color: #000000;
    font-family: "Poppins", sans-serif;
}

h2 {
    margin: 0 0 20px 0;
}

p {
    font-size: 16px;
    color: #999;
}

h4{
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-bottom: 1em;
}

.btn {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 0.5em 0.5em;
    text-align: center;
    font-size: 0.9em;
    margin: 1.5em auto;
    transition: 0.3s;
    display: block;
    width: 50%;
}

.btn:hover {
    background-color: #3e8e41;
    color: white;
}

.card{
    box-shadow: -4px 4px 4px 0px rgba(171,171,171,0.75);
}

.imgModal{
    width: 100%;
    height: 100%;

}
.product-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5px;
    padding-bottom: 40px;
}

.category-title {
    font-size: 28px;
    color: #111;
    text-transform: uppercase;
    font-weight: 500;
}